<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            http://code.alibabatech.com/schema/dubbo
                            http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 指定应用名称 -->
    <dubbo:application name="health_service_provider"/>
    <!-- 此处问题是因为provider和consumer的服务器Tomcat同时启动会导致qos端口同时占用
    <dubbo:application name="health_service_provider">
        <dubbo:parameter key = "qos.port" value="33333"/>
    </dubbo:application>
    -->
    <!--指定暴露服务的端口，如果不指定默认为20880-->
    <dubbo:protocol name="dubbo" port="20887"/>
    <!--指定服务注册中心地址-->
    <dubbo:registry address="zookeeper://xxx.xxx.xxx.xxx:2181"/>
    <!--<dubbo:registry address="zookeeper://127.0.0.1:2181"/>-->
    <!--批量扫描，发布服务-->
    <dubbo:annotation package="com.rqiang.service.impl"/>
    <!--<dubbo:service interface="com.amanda.service.CheckItemService" ref="checkItemServiceImpl"/>
    <bean id="checkItemServiceImpl" class="com.amanda.service.impl.CheckItemServiceImpl"/>-->

<!--    <bean id="freemarkerConfig"-->
<!--          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
<!--        &lt;!&ndash;指定模板文件所在目录&ndash;&gt;-->
<!--        <property name="templateLoaderPath" value="/WEB-INF/ftl/" />-->
<!--        &lt;!&ndash;指定字符集&ndash;&gt;-->
<!--        <property name="defaultEncoding" value="UTF-8" />-->
<!--    </bean>-->
<!--    <context:property-placeholder location="classpath:freemarker.properties" />-->
</beans>